.CreatePostScreen__image-preview {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.CreatePostScreen__image-preview-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 420px;
  min-height: 420px;
}

.pretty-card.CreatePostScreen {
  max-width: 80%;
}

.CreatePostScreen__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
